env:
  global:
    - CC_TEST_REPORTER_ID=9028ccc64391f650aacd79af2eb66ba6d19bc5e96d3af2916c126a9809c4ddce
addons:
  chrome: stable
services:
  - xvfb
before_install:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
language: ruby
rvm:
  - 2.5.8
  - 2.6.5
  - 2.7.2
  - 3.0.0
cache: bundler
script:
  - bundle exec rspec spec
  - bundle exec cucumber
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
