before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
language: ruby
rvm:
  - 2.2.7
  - 2.3.4
  - 2.4.1
cache: bundler
script:
  - bundle exec rspec spec
  - bundle exec cucumber
addons:
  code_climate:
    repo_token: 9028ccc64391f650aacd79af2eb66ba6d19bc5e96d3af2916c126a9809c4ddce
